@media (max-width: 1800px) {
  .column-left__box {
    padding: 20px;
    height: calc(100% - 40px);
  }
  .column-right__box {
    padding: 20px;
  }
  .column-center__box-title {
    margin-top: 100px;
  }
  .column-left__box {
    display: flex;
    flex-direction: column;
  }
  .column-left__box-map {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }
  .column-left__box-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

@media (max-width: 1600px) {
  .column-left__box-map {
    max-width: 400px;
  }
  .column-left__box-map img {
    display: block;
    width: 100%;
  }
  .column-right__information-column--left {
    margin-right: 20px;
  }
  .element-pl {
    padding-left: 0;
  }
  .column-left__list-item {
    padding: 16px 8px;
  }
  .column-left__list-title,
  .column-right__form-title {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .column-right__box-information {
    margin-top: 25px;
  }
  .column-right__information-column--left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .column-right__box-information {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
  .column.column-center {
    min-height: 354px;
  }
  .column {
    min-height: unset;
  }
  .column-left, .column-right {
    width: 100%;
  }
  .column-center {
    width: calc(100% + 48px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px -24px;
  }
  .column-left__box {
    align-items: center;
    padding: 0;
  }
  .column-right__box {
    padding: 0;
  }
  .column-left__box-map {
    display: none;
  }
  .column-right__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column-center__box-title {
    margin-top: 0;
  }
  .column-right__box-information {
    max-width: 600px;
    width: 100%;
  }
  .column-right__box-social {
    max-width: 600px;
    width: 100%;
    order: 3;
    justify-content: flex-start;
  }
  .column-right__box-information {
    flex-direction: row;
  }
  .column-right__information-column--left {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .column-left__box-list {
    max-width: 600px;
    width: 100%;
  }
  .column-left__list-item {
    width: 100%;
    max-width: unset;
    text-align: center;
  }
  .column-left__list-title {
    text-align: center;
  }
  .column-right__box-form {
    width: 100%;
    max-width: 600px;
  }
  .column-right__form-box {
    width: 100%;
  }
  .column-right__form-item {
    width: 100%;
    max-width: unset;
  }
  .column-right__social-list {
    margin: 16px 0 0 0;
    padding: 0;
  }
  .main {
    padding: 25px 24px 35px;
  }
}

@media (max-width: 576px) {
  .column-left__box-tagline {
    font-size: 10px;
    margin-top: 4px;
  }
  .column-right__information-column--left {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .column-right__box-information {
    flex-direction: column;
  }
  .column-left__box-list {
    margin-top: 45px;
  }
  .column-left__list-title, .column-right__form-title {
    font-size: 28px;
  }
  .column-left__list-item {
    font-size: 16px;
    padding: 8px;
  }
  .column-center__box-title {
    font-size: 32px;
  }
  .column.column-center {
    align-items: flex-start;
  }
  .column-center__box {
    margin-top: 46px;
  }
  .column-right__form-text {
    font-size: 15px;
  }
  .column-right__form-subtext {
    font-size: 15px;
  }
  .column-right__item-textarea textarea::placeholder, .column-right__item-input input::placeholder {
    font-size: 15px;
    line-height: 18px;
  }
  .column-right__item-textarea textarea {
    height: 78px;
  }
  .column-right__box-information {
    margin-top: 45px;
  }
  .column-right__social-list li + li {
    margin-left: 20px;
  }
  .column-left__box-logo {
    max-width: 147px;
    width: 100%;
  }
  .column-left__box-logo a {
    display: block;
    width: 100%;
  }
  .column-left__box-logo a img {
    display: block;
    width: 100%;
  }
  .column-right__box-text{
    text-align: center;
  }
}