@import "vars";
@import "libs";
@import "fonts";

$inter: 'Inter', sans-serif;
$poppins: 'Inter', sans-serif;
$ps: 'Inter', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.columns {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.column {
  min-height: 100vh;
}

.element-pl {
  padding-left: 28px;
}

.column-left, .column-right {
  width: 34.5%;
}

.column-center {
  width: 31%;
  background: no-repeat url("../img/column-center--bg.jpg") center;
  background-size: cover;
}

.column-left__box {
  padding: 50px 70px 35px 100px;
}

.column-left__box-tagline {
  margin-top: 12px;
  font-family: $ps;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #000000;
  opacity: 0.5;
}

.column-left__box-list {
  margin-top: 40px;
}

.column-left__list-title {
  font-family: $inter;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 13px;
}

.column-left__list-item {
  max-width: 380px;
  width: 100%;
  padding: 16px 28px;
  font-family: $poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  border-bottom: 1px solid #999999;
}

.column-left__box-map {
  margin-top: 60px;
}

.column-center__box-title {
  font-family: $inter;
  font-weight: bold;
  font-size: 55px;
  line-height: 87%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: 125px;
  margin-bottom: 5px;
}

.column-center__box-text {
  font-family: $poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.055em;
  color: rgba(255, 255, 255, 0.5);
}

.column-right__box {
  padding: 70px 60px 30px 70px;
}

.column-right__box-social {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.column-right__social-list {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin: 0 0 24px 0;
}

.column-right__social-list li + li {
  margin-left: 16px;
}

.column-right__list-item {
  list-style: none;
  transition: all 0.3s linear;
}
.column-right__list-item:hover{
  opacity: 0.7;
}
.column-right__form-title {
  font-family: $inter;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 4px;
}

.column-right__form-text {
  font-family: $poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 3px;
}

.column-right__form-subtext {
  font-family: $poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(18, 18, 18, 0.7);
}

.column-right__box-text {
  display: inline-block;
  margin-bottom: 16px;
}
.column-right__form-box{
  position: relative;
}
.column-right__form-box:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51,51,51,0.1) url("../img/loading.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.column-right__box-form.sending .column-right__form-box:after{
  opacity: 1;
  visibility: visible;
}
.column-right__form-item {
  width: 100%;
  max-width: 408px;
  margin-bottom: 18px;
}

.column-right__form-item:last-child {
  margin-bottom: 24px;
}

.column-right__form-item .column-right__item-input {
  width: 100%;
  position: relative;
}

.column-right__item-input input {
  width: 100%;
  padding: 19px 0 3px;
  border: 0;
  border-bottom: 1px solid rgba(18, 18, 18, 0.7);
  background: transparent;
  outline: none;
  font-family: $inter;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.7);
}
.column-right__item-input input:focus{
  color: rgba(0,0,0,1);
  border-bottom: 1px solid rgba(18, 18, 18, 1);
}
.column-right__item-input input:focus +label{
  color: rgba(0,0,0,1);
}
.column-right__item-input input:placeholder-shown + label{
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateY(-50%);
}
.column-right__item-input label{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0);
  opacity: 1;
  font-family: $inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.7);
  transition: all 0.3s linear;
}
.column-right__item-input span{
  position: absolute;
  opacity: 0;
  bottom: 0;
  transform: translateY(calc(100% + 3px));
  font-family: $inter;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.column-right__form-item:hover .column-right__item-input input ,
.column-right__form-item:hover .column-right__item-textarea textarea {
  border-bottom: 1px solid rgba(18, 18, 18, 0.8);
  cursor: pointer;
}
.column-right__item-textarea {
  width: 100%;
  height: 100%;
}

.column-right__item-textarea textarea {
  width: 100%;
  height: 96px;
  resize: none;
  padding: 19px 0 3px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.7);
  background: transparent;
  outline: none;
  font-family: $inter;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.7);
}
.column-right__item-textarea textarea:focus{
  color: rgba(0,0,0,1);
  border-bottom: 1px solid rgba(0,0,0,1);
}
.column-right__item-textarea textarea::placeholder,
.column-right__item-input input::placeholder {
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(18, 18, 18, 0.4);
  transition: all 0.3s linear;
}

.column-right__form-item:hover .column-right__item-textarea textarea::placeholder,
.column-right__form-item:hover .column-right__item-input input::placeholder {
  color: rgba(18, 18, 18, 0.7);
  cursor: pointer;
}

.column-right__form-send {
  margin-top: 24px;
  background: #0045E6;
  border-radius: 6px;
  font-family: $ps;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #EBEBEB;
  border: none;
  outline: none;
  padding: 6px 24px 6px 12px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.column-right__form-send:hover{
  background: #2E6CFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 6px 30px 6px 12px;
}

.column-right__form-send:active{
  background: #0045E6;
  opacity: 0.8;
}
.column-right__form-send span {
  position: relative;
}

.column-right__form-send span:before {
  content: '';
  background: url("../img/arrow-form.svg") no-repeat;
  background-size: cover;
  width: 11px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 3px), calc(-50% + 2px));
  transition: all 0.3s linear;
}
.column-right__form-send:hover span:before{
  transform: translate(calc(100% + 11px), calc(-50% + 2px));
}

.column-right__box-information {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.column-right__information-column--left {
  width: 100%;
  max-width: 276px;
}

.column-right__information-column--right {
  width: 100%;
  max-width: 195px;
}

.column-information__column-item {
  margin-bottom: 16px;
}

.column-information__column-item:last-child {
  margin-bottom: 0;
}

.column-information__item-title {
  font-family: $poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: rgba(18, 18, 18, 0.2);
  margin-bottom: 4px;
}

.column-information__item-text {
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #121212;
  transition: all 0.3s linear;
}
.column-information__item-text.email:hover{
  opacity: 0.7;
  cursor: pointer;
}
.column-information__text-box span {
  margin-right: 8px;
}
.column-right__item-input.success:before{
  content: url("../img/sucsses.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 3px;
 }
.column-right__item-input.error:before{
  content: url("../img/error.svg") ;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 3px;
}
.column-right__item-input.error span{
  opacity: 1;
}
@import "media";
